:root{
 --padding-container: 100px 0;
--color-tittle: #001a49;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('./assets/main.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;

}
.nav{
    --padding-container:0;
    height: 100px;
    display: flex;
    align-items: center;

}
.nav_titulo{
    font-weight: 300;
}
.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap:2em;
}
.nav_items{
    list-style: none;
}
.nav_links{
    color: #fff;
    text-decoration: none;
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}
.nav_img{
    display: block;
    width: 30px;

}
.nav_cerrar{
    display: var(--show, none);
}
.hero_container{
    max-width: 800px;
    display: grid;
    --padding-container:0;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;

}
.hero_tittle{
    font-size: 3rem;
}
.hero_parrafo{
    margin-bottom: 20px;
}
.cta{
    display: inline-block;
    background-color: #2091f9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 22px;
    border-radius: 32px;

}
.acerca{
    text-align: center;
   
}
.subtitle{
    color: var(--color-tittle);
    font-size: 3rem;
    margin-bottom: 25px;
}
.subtitle1{
    color: var(--color-tittle);
    font-size: 1.5rem;
    margin-bottom: 25px;
}
.acerca_parrafo{
    line-height: 1.7;
}
.acerca_iconos{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}
.acerca_main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px,auto));
}
.acerca_icono{
    width: 50px;
}

.productos{
    background-color: #e5e5f7;
background-image:  radial-gradient(#b41ed6 0.5px, transparent 0.5px), radial-gradient(#b41ed6 0.5px, #e5e5f7 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
overflow: hidden;
}
.productos_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}
.productos_imagen{
    max-width: 500px;
}
.productos_img{
    width: 100%;
    display: block;
}
.productos_parrafo{
    line-height: 1.7;
    margin-bottom: 15px;
}
.contactenos{
    text-align: center;

}
.contactenos_tabla{
  padding-top: 60px;  
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
  justify-content: space-evenly;
  align-items: center;
}
.contactenos_elemento{
    background-color: #E5E5F7;
    text-align: center;
    border-radius: 10px;
    width: 280px;
    padding: 40px;
    --color-plan: #4b4b4b;
    --color-desc: #4b4b4b;
    --bg-cta: #fff;
    --color-cta: #2091f9;
    --color-items: #4b4b4b;
}   
.contactenos_name{
    color: var(--color-plan);   
    margin-bottom: 15px;
    font-weight: 300;
}
.contactenos_desc{
    font-size: 2rem;
    color: var(--color-desc);
}
.contactenos_opciones{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}
.contacto_cta{
    background-color: var(--color-cta);
    display: block;
    padding: 20px 0;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    border-radius: 32px;
    color: var(--color-plan);  
}
.noticias{
    background-color: #e5e5f7;
}
.noticias_container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}
.noticias_body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}
.noticias_img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover; 
}
.noticias_texto{
    max-width: 700px;
}
.noticias_arrow{
    width: 90%;
    cursor: pointer;
}
.noticias_body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.footer{
    background-color: #b41ed6 ;

}
.footer_title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}
.footer_title, .footer_newsletter{
    color: #fff;
}
.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #fff;
    padding-bottom: 60px;
}
.nav_footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}
.nav_link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;

}
.footer_inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}
.footer_input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}
.footer_submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #2091f9;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
}
.footer_copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}
.footer_author{
    font-weight: 300;
}
html {
    scroll-behavior: smooth;
  }
  #share-container span {
    display: block;
    margin: 3rem auto;
    font-size: 50px;
    padding: 1rem;
    margin: 1rem;
  }
  #share-buttons i {
    font-size: 100px;
    margin: 20px;
  }
  .facebook {
        color: #3b5998;  
        margin-bottom: 15px;
        font-weight: 300;
        text-decoration: none;
  }
  .twitter {
      color: #55acee;
      margin-bottom: 15px;
        font-weight: 300;
        text-decoration: none;
  }
  .linkedin {
      color: #0077b5;
      margin-bottom: 15px;
        font-weight: 300;
        text-decoration: none;
  }
  .whatsapp {
      color: #25D366;
      margin-bottom: 15px;
        font-weight: 300;
        text-decoration: none;
  }
  .botones_compartir{
    padding-top: 60px;  
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
  }
  .social{
    height: 150px;
  }